.customIcon{
    color:#5cb85c;
    transition: all 0.1s ease-in-out;
}

.customIcon:hover{
    color: #FFFFFF;
}

.iconBackground{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: fit-content;
    border-radius: 100px;
    transition: all 0.1s ease-in-out;
}

.iconBackground:hover{
    background-color: #5cb85c;
}